* {
    padding: 0;
    margin: 0;
}

.bg-pattern {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 35vh;
    transform-origin: 100% 100%;
    transform: translate(-30%, -100%) rotate(-45deg);
    min-height: 175%;
    max-height: 175%;
}

.service-button {
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: #09577b;
    border: none;
}

@media only screen and (max-width: 640px) {
    .mobile-button {
        margin: 10px 0;
        border-radius: 100px !important;
    }
}

.small-border {
    border-radius: 8px;
}

.navigation-signal {
    position: absolute;
    left: 50%;
}

